<%- include ('../partials/header'); %>
<section class="section section-md ">
    <div class="container">
      <h3 class="text-center">Acceso candidatos</h3>
      <div class="row row-30 row-xl-70">
        <div class="col-md-6">
          <!-- Post Minimal-->
          <article class="post-minimal h-100"><a class="post-minimal-media" href="/blog">
              <img class="post-minimal-image" src="/images/contrata_un_freelance.svg" style="height: 200px;" /></a>
            <div class="post-minimal-main">
              <h5 class="post-minimal-title">
                  <strong>Inicio de sesión</strong>
              </h5>
              <form action="/user/login" method="POST">
                <div class="form-group">
                  <input class="form-input" id="rd-navbar-register-email" type="email" name="email" placeholder="Correo" />
                </div>
                <div class="form-group">
                  <input class="form-input" id="rd-navbar-register-password" type="password" name="password"
                    placeholder="Contraseña" />
                </div>
                <button class="button button-block button-primary">
                Ingresar
                </button>
              </form>
            </div>
          </article>
        </div>
        <div class="col-md-6">
          <!-- Post Minimal-->
          <article class="post-minimal"><a class="post-minimal-media" href="/blog">
              <img class="post-minimal-image" src="/images/trabaja_como_freelance.svg" style="height: 200px;" /></a>
            <div class="post-minimal-main">
              <h5 class=""><a href="/user/signup">
                  <strong>No tienes una cuenta?</strong>
                </a></h5>
              <p style="color: #000;">Registrate y empieza a postular</p>
              <br>
              <button class="button button-block button-primary" onclick="location.href='/user/signup'" type="submit"><a href="/user/signup">Regístrate aquí</a></button>
             
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  
  
<%- include('../partials/footer') %>